{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.callhq.ai/api"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/calls": {
      "get": {
        "summary": "List Calls",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific call ID."
          },
          {
            "in": "query",
            "name": "assistantId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Filter by assistant ID."
          },
          {
            "in": "query",
            "name": "phoneNumberId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by phone number ID."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of call records to return."
          },
          {
            "in": "query",
            "name": "createdAtGe",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter for calls created on or after this date/time."
          },
          {
            "in": "query",
            "name": "createdAtLe",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter for calls created on or before this date/time."
          }
        ],
        "responses": {
          "200": {
            "description": "List of call records retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "calls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "assistantId": {
                            "type": "string"
                          },
                          "phoneNumberId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error fetching call records."
          }
        }
      }
    },
    "/calls/outbound": {
      "post": {
        "summary": "Place Outbound Call",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "assistantId",
                  "phoneNumberId",
                  "customer"
                ],
                "properties": {
                  "assistantId": {
                    "type": "string",
                    "description": "Local assistant ID"
                  },
                  "phoneNumberId": {
                    "type": "string",
                    "description": "Local phone number ID"
                  },
                  "customer": {
                    "type": "object",
                    "required": [
                      "number",
                      "name"
                    ],
                    "properties": {
                      "number": {
                        "type": "string",
                        "example": "+919876543210"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call placed successfully"
          },
          "400": {
            "description": "Missing required fields"
          },
          "404": {
            "description": "Assistant or Phone number not found"
          },
          "500": {
            "description": "Failed to initiate call"
          }
        }
      }
    },
    "/calls/details": {
  "get": {
    "summary": "Get Call Details",
    "tags": ["Calls"],
    "security": [
      {
        "apiKeyAuth": []
      }
    ],
    "parameters": [
      {
        "in": "query",
        "name": "id",
        "schema": {
          "type": "string"
        },
        "description": "Filter by specific call ID."
      }
    ],
    "responses": {
      "200": {
        "description": "List of call records retrieved successfully.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "calls": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "assistantId": {
                        "type": "string"
                      },
                      "phoneNumberId": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string"
                      },
                      "updatedAt": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "500": {
        "description": "Error fetching call records."
      }
    }
  }
},
    "/assistants": {
      "get": {
        "summary": "List Assistants",
        "tags": [
          "Assistants"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "in": "query",
            "name": "organizationId",
            "schema": {
              "type": "string"
            },
            "description": "(Super Admins only) Filter assistants by organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of assistants retrieved"
          }
        }
      },
      "post": {
        "summary": "Create Assistant",
        "tags": [
          "Assistants"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "voice",
                  "transcriber",
                  "model",
                  "firstMessage",
                  "firstMessageMode"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Test Assistant"
                  },
                  "voice": {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "enum": [
                          "CallHQ"
                        ],
                        "example": "CallHQ"
                      },
                      "voiceId": {
                        "type": "string",
                        "enum": [
                          "Paige",
                          "Rohan",
                          "Hana",
                          "Elliot",
                          "Kylie",
                          "Savannah",
                          "Cole",
                          "Harry",
                          "Spencer",
                          "Neha",
                          "Lily"
                        ],
                        "example": "Priya"
                      },
                      "speed": {
                        "type": "number",
                        "example": 1
                      }
                    }
                  },
                  "transcriber": {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "example": "google"
                      },
                      "model": {
                        "type": "string",
                        "example": "gemini-1.5-pro"
                      },
                      "language": {
                        "type": "string",
                        "example": "Multilingual"
                      }
                    }
                  },
                  "model": {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "example": "google"
                      },
                      "model": {
                        "type": "string",
                        "example": "gemini-1.5-pro"
                      },
                      "temperature": {
                        "type": "number",
                        "example": 0.5
                      },
                      "maxTokens": {
                        "type": "integer",
                        "example": 250
                      },
                      "emotionRecognitionEnabled": {
                        "type": "boolean",
                        "example": false
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "example": "system"
                            },
                            "content": {
                              "type": "string",
                              "example": "This is a blank template with minimal defaults, you can change the model, temperature, and messages."
                            }
                          }
                        }
                      }
                    }
                  },
                  "firstMessage": {
                    "type": "string",
                    "example": "Hello."
                  },
                  "firstMessageMode": {
                    "type": "string",
                    "example": "assistant-speaks-first"
                  },
                  "backgroundSound": {
                    "type": "string",
                    "example": "office"
                  },
                  "silenceTimeoutSeconds": {
                    "type": "integer",
                    "example": 10
                  },
                  "backgroundDenoisingEnabled": {
                    "type": "boolean",
                    "example": true
                  },
                  "firstMessageInterruptionsEnabled": {
                    "type": "boolean",
                    "example": false
                  },
                  "maxDurationSeconds": {
                    "type": "integer",
                    "example": 3600
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assistant created successfully"
          },
          "400": {
            "description": "Validation error or missing integration"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/assistants/{id}": {
      "get": {
        "summary": "Get Assistant",
        "tags": [
          "Assistants"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Assistant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Assistant retrieved successfully"
          },
          "404": {
            "description": "Assistant not found"
          }
        }
      },
      "patch": {
        "summary": "Update Assistant",
        "tags": [
          "Assistants"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Assistant ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Fields to update. Only `name`, `status`, and `description` will be updated locally.",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Updated Assistant"
                  },
                  "status": {
                    "type": "boolean",
                    "example": true
                  },
                  "description": {
                    "type": "string",
                    "example": "This assistant handles hospitality queries."
                  },
                  "voice": {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "enum": [
                          "CallHQ"
                        ],
                        "example": "CallHQ"
                      },
                      "voiceId": {
                        "type": "string",
                        "enum": [
                          "Paige",
                          "Rohan",
                          "Hana",
                          "Elliot",
                          "Kylie",
                          "Savannah",
                          "Cole",
                          "Harry",
                          "Spencer",
                          "Neha",
                          "Lily"
                        ],
                        "example": "Neha"
                      },
                      "speed": {
                        "type": "number",
                        "example": 1
                      }
                    }
                  },
                  "model": {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "enum": [
                          "google",
                          "openai",
                          "anthropic"
                        ],
                        "example": "google"
                      },
                      "model": {
                        "type": "string",
                        "example": "gemini-1.5-pro"
                      },
                      "temperature": {
                        "type": "number",
                        "example": 0.5
                      },
                      "maxTokens": {
                        "type": "integer",
                        "example": 250
                      },
                      "emotionRecognitionEnabled": {
                        "type": "boolean",
                        "example": false
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "example": "system"
                            },
                            "content": {
                              "type": "string",
                              "example": "This is a blank template with minimal defaults, you can change the model, temperature, and messages."
                            }
                          }
                        }
                      }
                    }
                  },
                  "firstMessage": {
                    "type": "string",
                    "example": "Hi! How can I help you today?"
                  },
                  "firstMessageMode": {
                    "type": "string",
                    "enum": [
                      "assistant-speaks-first",
                      "user-speaks-first"
                    ],
                    "example": "assistant-speaks-first"
                  },
                  "backgroundSound": {
                    "type": "string",
                    "example": "office"
                  },
                  "silenceTimeoutSeconds": {
                    "type": "integer",
                    "example": 10
                  },
                  "backgroundDenoisingEnabled": {
                    "type": "boolean",
                    "example": true
                  },
                  "firstMessageInterruptionsEnabled": {
                    "type": "boolean",
                    "example": false
                  },
                  "maxDurationSeconds": {
                    "type": "integer",
                    "example": 3600
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assistant updated successfully"
          },
          "404": {
            "description": "Assistant not found"
          }
        }
      }
    },
    "/phone-numbers": {
      "get": {
        "summary": "List Phone Numbers",
        "tags": [
          "Phone Numbers"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of phone numbers retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "phoneNumbers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhoneNumber"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error fetching phone numbers."
          }
        }
      }
    },
    "/files": {
      "get": {
        "summary": "List Files",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of files to return per page."
          }
        ],
        "responses": {
          "200": {
            "description": "List of files retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/File"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error fetching files."
          }
        }
      },
      "post": {
        "summary": "Upload File",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "File uploaded successfully"
                    },
                    "file": {
                      "$ref": "#/components/schemas/File"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid file."
          },
          "413": {
            "description": "File too large."
          },
          "500": {
            "description": "Error uploading file."
          }
        }
      }
    },
    "/files/{fileId}": {
      "get": {
        "summary": "Get File",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the file."
          }
        ],
        "responses": {
          "200": {
            "description": "File retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file": {
                      "$ref": "#/components/schemas/File"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "File not found."
          },
          "500": {
            "description": "Error fetching file."
          }
        }
      },
      "delete": {
        "summary": "Delete File",
        "tags": [
          "Files"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the file to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "File deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "File not found."
          },
          "500": {
            "description": "Error deleting file."
          }
        }
      }
    },
    "/sessions": {
      "post": {
        "summary": "Create Chat Session",
        "tags": [
          "Chat"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "assistantId"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the chat session"
                  },
                  "assistantId": {
                    "type": "string",
                    "description": "ID of the assistant to use for this session"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields"
          },
          "404": {
            "description": "Assistant not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chats": {
      "post": {
        "summary": "Send Chat Message",
        "tags": [
          "Chat"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionId",
                  "input"
                ],
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "description": "ID of the session to send the message to"
                  },
                  "input": {
                    "type": "string",
                    "description": "User's message input"
                  },
                  "assistantOverrides": {
                    "type": "object",
                    "properties": {
                      "variableValues": {
                        "type": "object",
                        "description": "Dynamic variables to inject into the conversation"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chats/session/{sessionId}": {
      "get": {
        "summary": "Get Session Conversation",
        "tags": [
          "Chat"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "sessionId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the session to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Session conversation retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionConversationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "webhooks": {},
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the phone number"
          },
          "accountId": {
            "type": "string",
            "description": "Account identifier"
          },
          "did": {
            "type": "string",
            "description": "Direct inward dialing number"
          },
          "domain": {
            "type": "string",
            "description": "SIP domain for the phone number"
          },
          "provider": {
            "type": "string",
            "description": "Phone number provider (e.g., unpod, viva)"
          },
          "externalId": {
            "type": "string",
            "description": "External identifier from the provider"
          },
          "status": {
            "type": "boolean",
            "description": "Active status of the phone number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Organization identifier"
              },
              "name": {
                "type": "string",
                "description": "Organization name"
              }
            }
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "chat": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier for the chat"
              },
              "externalChatId": {
                "type": "string",
                "description": "External chat identifier"
              },
              "sessionId": {
                "type": "string",
                "description": "ID of the session this chat belongs to"
              },
              "input": {
                "type": "string",
                "description": "User's input message"
              },
              "output": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": ["user", "assistant"],
                      "description": "Role of the message sender"
                    },
                    "content": {
                      "type": "string",
                      "description": "Content of the message"
                    }
                  }
                }
              },
              "assistantId": {
                "type": "string",
                "description": "ID of the assistant that responded"
              },
              "status": {
                "type": "string",
                "description": "Status of the chat"
              },
              "cost": {
                "type": "number",
                "description": "Cost of the chat interaction"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "Creation timestamp"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "description": "Last update timestamp"
              },
              "assistantOverrides": {
                "type": "object",
                "properties": {
                  "variableValues": {
                    "type": "object",
                    "description": "Dynamic variables used in the conversation"
                  }
                }
              }
            }
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "session": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier for the session"
              },
              "name": {
                "type": "string",
                "description": "Name of the session"
              },
              "assistantId": {
                "type": "string",
                "description": "ID of the assistant used in this session"
              },
              "status": {
                "type": "string",
                "description": "Status of the session"
              },
              "messages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": ["user", "assistant"],
                      "description": "Role of the message sender"
                    },
                    "content": {
                      "type": "string",
                      "description": "Content of the message"
                    }
                  }
                }
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "Creation timestamp"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "description": "Last update timestamp"
              }
            }
          }
        }
      },
      "SessionConversationResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "session": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier for the session"
              },
              "name": {
                "type": "string",
                "description": "Name of the session"
              },
              "status": {
                "type": "string",
                "description": "Status of the session"
              },
              "assistantId": {
                "type": "string",
                "description": "ID of the assistant used in this session"
              },
              "messages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": ["user", "assistant"],
                      "description": "Role of the message sender"
                    },
                    "content": {
                      "type": "string",
                      "description": "Content of the message"
                    }
                  }
                }
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "description": "Last update timestamp"
              }
            }
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the file"
          },
          "externalId": {
            "type": "string",
            "description": "External identifier for the file"
          },
          "name": {
            "type": "string",
            "description": "Original name of the file"
          },
          "integrationId": {
            "type": "string",
            "description": "ID of the integration this file belongs to"
          },
          "url": {
            "type": "string",
            "description": "URL to access the file"
          },
          "bytes": {
            "type": "integer",
            "description": "Size of the file in bytes"
          },
          "object": {
            "type": "string",
            "description": "Object type identifier"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the file (e.g., 'assistant')"
          },
          "mimetype": {
            "type": "string",
            "description": "MIME type of the file"
          },
          "bucket": {
            "type": "string",
            "description": "Storage bucket name"
          },
          "path": {
            "type": "string",
            "description": "Storage path within the bucket"
          },
          "status": {
            "type": "string",
            "description": "Processing status of the file"
          },
          "parsedTextUrl": {
            "type": "string",
            "description": "URL to access the parsed text content"
          },
          "parsedTextBytes": {
            "type": "string",
            "description": "Size of parsed text in bytes"
          },
          "organizationId": {
            "type": "string",
            "description": "ID of the organization that owns the file"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Organization identifier"
              },
              "name": {
                "type": "string",
                "description": "Organization name"
              }
            }
          },
          "integration": {
            "type": "object",
            "nullable": true,
            "description": "Integration details (can be null)"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of items"
          },
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "limit": {
            "type": "integer",
            "description": "Number of items per page"
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}